.goodsList {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 100px;

    .itemCard {
        width: 300px;
        height: 350px;
        margin: 20px 30px;
        border: 1px solid rgb(234, 234, 235);
        padding: 10px;
        box-shadow: 2px 5px 5px 4px rgba(34, 60, 80, 0.11);

        &:hover {
            box-shadow: 2px 5px 5px 4px rgba(51, 87, 114, 0.63);
        }

        .cardBtn {
            border: none;
            background-color: #ffffff00;
    
            .titleCard {
                height: 65px;
                margin: 0;
            }
    
            .imageCard {
                height: 200px;
    
                img {
                    width: 100px;
                    padding: 15% 0;
                    margin: 0 30%;
                }
            }

            .priceCard {
                width: 100px;
                margin: 0;
                
            }
    
            .buyNav {
                display: flex;
                justify-content:space-between;
                width: 150px;
    
                .buyBtnCard {
                    width: 100px;
                    padding: 10px;
                    border: none;
                    border-radius: 5px;
                    background-color: rgb(187, 227, 250);
                    font-size: 1.5em;
                    font-weight: 600;
                    box-shadow: 1px 0px 6px 6px rgba(82, 125, 158, 0.322) inset;
                
                    &:hover {
                        background-color: rgb(42, 84, 133);
                        box-shadow: 1px 0px 6px 6px rgba(198, 226, 246, 0.2) inset;
                        color: #ffffff;
                    }
                }
        
                .checkImg > img {
                    width: 30px;
                }
            }
        }
    }
}